body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1022px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u151_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1000px;
  height:1157px;
}
#u151 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:24px;
  width:1000px;
  height:1157px;
}
#u151_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
